# **SCHEMA DATABASE**

In [2]:
# data manipulation
import pandas as pd
import numpy as np

# plotting 
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('Car Sales.csv')
df.head()

,Car_id,Date,Customer Name,Gender,Annual Income,Dealer_Name,Company,Model,Engine,Transmission,Color,Price ($),Dealer_No,Body Style,Phone,Dealer_Region
0,C_CND_000001,1/2/2022,Geraldine,Male,13500,Buddy Storbeck's Diesel Service Inc,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000,06457-3834,SUV,8264678,Middletown
1,C_CND_000002,1/2/2022,Gia,Male,1480000,C & M Motors Inc,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000,60504-7114,SUV,6848189,Aurora
2,C_CND_000003,1/2/2022,Gianna,Male,1035000,Capitol KIA,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,31500,38701-8047,Passenger,7298798,Greenville
3,C_CND_000004,1/2/2022,Giselle,Male,13500,Chrysler of Tri-Cities,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000,99301-3882,SUV,6257557,Pasco
4,C_CND_000005,1/2/2022,Grace,Male,1465000,Chrysler Plymouth,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500,53546-9427,Hatchback,7081483,Janesville

In [4]:
# change col. name type to snake case
df.columns = df.columns.str.lower().str.strip().str.replace(' ', '_').str.replace('_($)', '')

# check
df.columns

Index(['car_id', 'date', 'customer_name', 'gender', 'annual_income',
       'dealer_name', 'company', 'model', 'engine', 'transmission', 'color',
       'price', 'dealer_no', 'body_style', 'phone', 'dealer_region'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23906 entries, 0 to 23905
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   car_id         23906 non-null  object
 1   date           23906 non-null  object
 2   customer_name  23905 non-null  object
 3   gender         23906 non-null  object
 4   annual_income  23906 non-null  int64
 5   dealer_name    23906 non-null  object
 6   company        23906 non-null  object
 7   model          23906 non-null  object
 8   engine         23906 non-null  object
 9   transmission   23906 non-null  object
 10  color          23906 non-null  object
 11  price          23906 non-null  int64
 12  dealer_no      23906 non-null  object
 13  body_style     23906 non-null  object
 14  phone          23906 non-null  int64
 15  dealer_region  23906 non-null  object
dtypes: int64(3), object(13)
memory usage: 2.9+ MB

ini adalah data awal saya: order_id, Date, Customer Name, Gender, Annual Income, Dealer_Name, Company, Model, Engine, Transmission, Color, Price ($), Dealer_No , Body Style, Phone, Dealer_Region

ini adalah hasil normailisasi yang saya lakukan:
- customer_table: customer_id(PK), customer_name, Gender, Annual Income, Phone
- seller_table: seller_id(PK), dealer_id(FK), region_id(FK)
- dealer_table: dealer_id(PK), Dealer_Name, Dealer_No
- region: region_id(PK), Dealer_Region
- car_table: car_id(PK), Company_id(FK), Model, Engine, Transmission, Body Style, Color
- company_table: Company_id(PK), Company   
- order_table: order_id(PK), Date, Price ($), customer_id(FK), seller_id(FK), car_id(FK)